<section>
    <h4>Create New Department</h4>

    <form class="new-department-form row">
        <div>
            <label for="department">Department Name:</label>
            <input type="text" id="dept-name" name="dept-name">
        </div>
        <button type="submit" class="btn btn-success">Create</button>
    </form>
</section>

{{#if depts.length}}
<section>
    <h2>All Departments</h2>
    <ol>
        {{#each depts as |department|}}
        <li>
            {{ department.department_name }}
            <a href="/homepage/edit/{{department.id}}" class="">Edit department</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/departments.js"></script>
