<section>
    <h4>Add New Employee</h4>

    <form class="add-employee-form row">
        <div class="col">
            <label for="first">First Name:</label>
            <input type="text" id="first-name" name="first-name">
        </div>
        <div class="col">
            <label for="last">Last Name:</label>
            <input type="text" id="last-name" name="last-name">
        </div>
        <div class="col">
            <label for="role">Role:</label>
            <input type="text" id="role" name="role">
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</section>

{{#if employees.length}}
<section>
    <h2>All Employees</h2>
    <ol>
        {{#each employees as |employee|}}
        <li>
            {{ employee.first_name }}
            <a href="/homepage/edit/{{employee.id}}" class="edit-link">Edit employee</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/public/javascript/employees.js"></script>