<section>
    <h4>Create New Role</h4>

    <form class="add-role-form">
        <div>
            <label for="role">Role title</label>
            <input type="text" id="role-title" name="role-title">
        </div>
        <div>
            <label for="deptartment">Role's department</label>
            <input type="text" id="role-dept" name="role-dept">
        </div>
        <div>
            <label for="salary">Starting Salary</label>
            <input type="number" id="salary" name="salary">
        </div>
        <button type="submit" class="btn">Add</button>
    </form>
</section>

{{#if roles.length}}
<section>
    <h2>All Employees</h2>
    <ol>
        {{#each roles as |role|}}
        <li>
            {{> role-info role}}
            <a href="/homepage/edit/{{role.id}}" class="edit-link">Edit role</a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-role.js"></script>